.btnAddEvent {
    float: right;
    background-color: transparent;
    font-weight: bold;
    border-radius: 75em;
    border: 1px solid;
    cursor: pointer;

    &:hover {
        
        border: 1px solid;

    }
}